<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="StoreMapper">
 	
 	
	<resultMap id="storeSelectMap" type="store">
		<result property="storeNo" 			column="store_no" 			jdbcType="INTEGER"/>
		<result property="title"			column="store_title" 			jdbcType="VARCHAR" />
		<result property="content" 		column="store_content" 		jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- SQL : INSERT -->
	<insert 	id="addProduct"		parameterType="store" >
	 	INSERT
		INTO store( store_no , title , content) 
		VALUES	 (	seq_store_store_no.NEXTVAL , #{title}, #{content})
	 </insert>
	 
	 <!-- SQL : SELECT ONE -->
	 <select 	id="getProduct"	parameterType="int"	resultMap="storeSelectMap">
		SELECT *		
		FROM store
		WHERE store_no = #{value}
	 </select>
	 
	 
</mapper>