<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="WishlistMapper">
 	
 	
	<resultMap id="wishlistSelectMap" type="wishlist">
		<result property="wishNo" 				column="wish_no" 				jdbcType="NUMERIC"/>
		<result property="prodNo"	   			column="prod_no" 				jdbcType="NUMERIC" />
		<result property="buyNum" 			column="quantity" 			jdbcType="NUMERIC" />
		<result property="userId" 			column="user_id" 		jdbcType="VARCHAR" />
		<result property="prodName"			column="prod_name" 			jdbcType="VARCHAR" />
		<result property="fileName" 		column="image_file" 		jdbcType="VARCHAR" />
		<result property="price" 		column="price" 		jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- SQL : INSERT -->
	<insert 	id="addWishlist"		parameterType="wishlist" >
		INSERT 
	 	INTO wishlist(wish_no, prod_no, quantity, user_Id, price) 
	 	values (seq_wishlist_wish_no.nextval, #{prodNo}, #{buyNum},#{userId}, #{price})
	 </insert>
	 
	 <!-- SQL : SELECT -->
	 <select 	id="getWishlist"	parameterType="string"	resultMap="wishlistSelectMap">
		SELECT p.prod_name, p.image_file, p.price, w.*
		FROM product p, wishlist w 
		WHERE p.prod_no=w.prod_no 
		AND user_id = #{userId}
		ORDER BY wish_no DESC
	 </select>
	 
	 <!-- SQL : UPDATE Stock -->
	 <update	id="updateWishlist"	parameterType="map" >
	   		UPDATE wishlist
	   	<set>
	   		quantity = #{buyNum}
	   	</set>
	   		WHERE wish_no = #{wishNo}
	 </update>
	 
	 <!-- SQL : DELETE -->
	 <delete	id="deleteWishlist"	parameterType="int" >
	   	DELETE
	   	FROM wishlist
	   	WHERE wish_no = #{wishNo}
	 </delete>
	 
	 
</mapper>